################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp1/WinFormsApp1/obj
/WinFormsApp1/.vs/WinFormsApp1
/WinFormsApp1/WinFormsApp1/WinFormsApp1.csproj.user
